@import "tailwindcss";

@theme {
  /* Aquí definimos tus colores personalizados para que Tailwind los reconozca */
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);
  --color-primary: hsl(262.1 83.3% 57.8%);
  --color-border: hsl(214.3 31.8% 91.4%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 262.1 83.3% 57.8%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-[var(--border)];
  }
  body {
    @apply bg-[white] text-neutral-900;
  }
}

html {
  scroll-behavior: smooth;
}